<!DOCTYPE html>
<head>
    <title>Librillo Login</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <header>
        <div class="container" id="contenedor_barra_navegacion">
            <div class="container" id="contenedor_logo">
                <!-- <img src="../images/logo.svg" alt="Logo Librillo" id="logo_navbar"> -->
            </div>
            <nav class="container" id="barra_navegacion">
                <a class="nav_button"><b>LIBROS</b></a>
                <a class="nav_button"><b>BIBLIOTECAS</b></a>
                <a class="nav_button"><b>AUTORES</b></a>
                <a class="nav_button"><b>LOGIN</b></a>
            </nav>
        </div>
    </header>
    <main>
        <form method="POST" action="http://localhost:3000/api/login" id="form_login">
            <h2>Iniciar Sesión</h2>
            <input type="text" name="username" placeholder="Usuario" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <button type="submit">Entrar</button>
    </form>
    </main>
</body>
